<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your Cart</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script type="text/javascript" src="/scripts/carts.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div id = "between-head-foot" >

    <div id = "cart-box">
      <h2>Shopping cart: </h2>

      <% for (let item of user.items) { %>
      <div class = "cart-box-item">
        <img src = <%= item.img %> alt="img" >
        <p class = "b-desc"><%= item.name %></p>
        <div class = "cart-quantity-box">
            <button class= "btn minus">-</button>
             <p> &nbsp; <%= item.number %> &nbsp;</p>
            <button class = "btn plus">+</button>
        </div>
        <div id = "price">
          <p class = "p-desc">$<%= (item.price * item.number).toFixed(2) %></p>
        </div>
      </div>
      <% } %>

      <hr>
      <div id = "cart-order-total">
        <p class = "b-desc">Sub-Total: $<%= user.total.toFixed(2) %></p>
      </div>
      <div id = "cart-box-footer">
        <form action="/" method="get">
          <button id = "button-set-add-more"> Add more </button>
        </form>
        <form action="/restaurants/orders/1" method="POST">
          <button class = "button-set-order-time" type="submit"> Order </button>
        </form>
      </div>
    </div>
  </div>

  <!-- <%- include('partials/_footer') %> -->
</body>

</html>
