<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/_head") %>
  <title>Home Page</title>
  <link rel="stylesheet" href="styles/index.css" type="text/css" />
  <link rel="stylesheet" href="/midtermProject/lightEats/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include("./partials/_header") %>
  <div id="hero-img">
    <div id="rest-info">
      <h2><%= menuItems[0].name %></h2>  <!---- restaurant data-->
      <ul>
       <li><%= `${menuItems[0].street}, ${menuItems[0].city}, ${menuItems[0].province}, ${menuItems[0].country}  ${menuItems[0].post_code} ` %></li>
       <li><%= menuItems[0].phone %></li>
      </ul>
    </div>
  </div>
  <main id="menu-list">
    <% for (let menuItem of menuItems) { %>
      <div class="items">
        <img class="items-img" src=<%= menuItem.image_url %> alt=<%=`items-img-${menuItem.name}`%> />
        <div class = "price-plus">

          <div class ="item-and-price">
            <p class="b-desc items-name"><%= menuItem.item_name %></p>
            <p class="items-price">CA$<%= (menuItem.price / 100).toFixed(2) %></p>
            <p class="items-id">item-id: <span><%= menuItem.item_id %></span></p>
          </div>

          <% if (user) { %>
            <div class="items-add"><button><i class="fa-solid fa-plus"></i></button></div>
            <% } %>
          </div>
        </div>
    <% } %>
  </main>

    <% if (user) { %>
      <section id="orders-btn-container">
        <div id="cart-summary">
          <i class="fa-solid fa-cart-plus"></i>
          <form action=<%=`/carts/${user.id}`%> method="GET">
            <button type="submit">REVIEW YOUR CART</button>
          </form>
          <i class="fa-solid fa-cart-plus"></i>
        </div>
        <div id="orders">
          <form action=<%=`/orders/${user.id}`%> method="GET">
            <button type="submit"> History</button>
          </form>
        </div>
      </section>
    <% } %>


</body>

</html>
