<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('partials/_scripts') %>
 <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
 <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/orders-layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <main>
    <%- include('partials/_header') %>
    <div id="orders-body-container">
      <section id="order-status-buttons">

        <button> current</button>
        <button>past</button>
      </section>
      <article id="customer-orders">
      <div id = "order-boxes">
        <% for(let item of result) {%>
            <div id = "single-order-desc">
              <label id="customer-order-status">Pending</label>
              <p class = "b-desc">Time:<%=`${item.created_at}%></p>
              <p class = "b-desc">Order Number:<%=item.id %></p>
              <p class = "b-desc">Name : <%=item.customer_name %> </p>
              <div><br />
              <p class = "b-desc">2&#215; Muffin this big name <span id="left-place">$5.20</span></p>
              <p class = "b-desc">2&#215; Muffin<span id="left-place">$5.20</span></p>
              <p class = "b-desc">2&#215; Muffin<span id="left-place">$5.20</span></p>
              <p class = "b-desc">2&#215; Muffin<span id="left-place">$5.20</span></p>
            </div>
              <p class = "b-desc">Total items $5.20 </p><br />
              <p class = "b-desc" id="big-font">Order Total: $<%=item.order_total %></p>
            </div>
        <%}%>
        </div>
      </article>
    </div>


  </main>

</body>

</html>
