<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('partials/_scripts') %>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <link rel="stylesheet" href="/styles/restaurant.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <script type="text/javascript" src="/scripts/allOrders.js"></script>
    <script type="text/javascript" src="/scripts/order-listings.js"></script>

</head>

<body>

  <main>
    <%- include('partials/_header') %>
      <div id="orders-body-container">
        <section id="order-status-buttons">
          <form action="/restaurants/new"  method="get">
          <button id="new"> New</button>
          </form>
          <form action="/restaurants/previous" method="get">
          <button id="previous">Previous</button>
          </form>
        </section>
        <article id="customer-orders">
          <div id="order-boxes">
            <%if(result){ %>
              <% for(let item of result) {%>
                <div id="single-order-desc">
                  <div id="orders">
                    <% if(item.status==="Pending" ) {%>
                      <p id="set-time">
                        <form  id ="button-set-order-time" action="/restaurants/new/accepted" method="post">
                        <span id="a">Set Time</span>
                        <input type="text" id="order-id" name ="order_id" value="<%=item.id %>">
                        <button type="button" class="btn dec">-</button>
                        <input type="text" class="qty-box" name ="qty" value=2>

                        <button type="button"  class="btn inc">+</button>

                        <button type="submit"  class="button-set-order-time"> Accept </button>
                        </form>
                      </p>
                      <%} %>
                        <% if(item.status === `Ready in ${item.set_time} minutes` ) {%>
                          <form  id="preparing" action="/restaurants/new/ready" method="post">
                          <input type="text" id="order-id" name ="order_id" value="<%=item.id %>">
                          <button type="submit" class="customer-order-status">Preparing</button>
                          </form>
                        <%} else %>
                        <% if(item.status === "Ready to pick up" ) {%>
                          <form  id="waiting-to-pick-up" action="/restaurants/new/delivered" method="post">
                          <input type="text" id="order-id" name ="order_id" value="<%=item.id %>">
                          <button type="submit" class="customer-order-status">Waiting to pick up</button>
                          </form>
                          <%} else  %>
                          <% if(item.status === "Delivered" ) {%>
                            <label id="customer-order-status-label"><%=item.status %></label>
                            <%} %>
                            <p class="b-desc">Time:<%=item.created_at%>
                            </p>
                            <%if(item.picked_at){ %>
                              <p class="b-desc">Delieverd:<%=item.picked_at%></p>
                            <% }%>
                                <p class="b-desc">Order Number:<%=` ${item.id}` %></p>
                                <p class="b-desc">Name : <%=item.customer_name %></p>
                                <p class="b-desc">Total items :<%=` ${item.quantity}`%></p><br />
                                <div>

                                  <%for(let value of item.items){ %>
                                    <p class="b-desc">
                                      <%=value.quantity %>&#215; <%=value.item_name %><span id="left-place">$<%=value.price%></span>
                                    </p>
                                    <%} %>
                                </div>
                                </div>

                  <span id="order-total">
                    <span></span>
                    <p class="b-desc" id="very-last-item">Sub Total: $<%=item.order_total %>&nbsp;&nbsp;</p>
                  </span>
                </div>
                <%}%>
             <%} %>
          </div>
        </article>
      </div>


  </main>

</body>

</html>
