<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restaurant Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/restaurant.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div id = "between-head-foot" >

    <h1>Current Orders: </h1>

    <div id = "restaurant-orders-box">
      <div id = "restaurant-order">
        <div id = "restaurant-tabs">
          <button>New Orders</button>
          <button>Waiting to be picked up</button>
          <button>Order History</button>
        </div>
        <div id = "restaurant-single-order-box">
          <div id = "restaurant-order-box-description">
            <p class = "b-desc">Timestamp: Orders.date</p>
            <p class = "b-desc">Order Number: Order-id</p>
            <p class = "b-desc">Customer Name <%= userdata.name %></p>
            <p class = "b-desc">Customer's Phone#</p>
            <div class = "restaurant-item-slots">
              <p class = "b-desc"><%= userdata.name %>: <%= userdata.quantity %></p>
              <p class = "b-desc">Item name: Quantity</p>
              <p class = "b-desc">Item name: Quantity</p>
            </div>
            <p class = "b-desc">Order Total: $<%= userdata.order_total / 100%></p>
            <div id = "restaurant-order-box-footer">
              <div id = "restaurant-footer-new-order">
                <p>Set time: <button id = "button-minus">-</button>
                  5 min
                  <button id = "button-plus">+</button>
                </p>
                <button id = "button-set-order-time"> Accept </button>
              </div>
              <div id = "restaurant-order-finished-early">
                <button id = "button-set-time-done">Ready for Pickup</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <% for (let i = 0; i < 1; i++) { %>
        <div id = "restaurant-order">
          <div id = "restaurant-tabs">
            <button>New Orders</button>
            <button>Waiting to be picked up</button>
            <button>Order History</button>
          </div>
          <div id = "restaurant-single-order-box">
            <div id = "restaurant-order-box-description">
              <p class = "b-desc">Timestamp: Orders.date</p>
              <p class = "b-desc">Order Number: Order-id</p>
              <p class = "b-desc">Customer Name</p>
              <p class = "b-desc">Customer's Phone#</p>
              <div class = "restaurant-item-slots">
                <p class = "b-desc">Item name: Quantity</p>
                <p class = "b-desc">Item name: Quantity</p>
                <p class = "b-desc">Item name: Quantity</p>
              </div>
              <p class = "b-desc">Order Total: $10</p>
              <div id = "restaurant-order-box-footer">
                <div id = "restaurant-order-finished-early-on">
                  <button id = "button-set-time-done">Ready for Pickup</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>


    </div>
  </div>
  <!-- <%- include('partials/_footer') %> -->
</body>

</html>
