<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restaurant Page</title>
  <%- include('partials/_scripts') %>
    <%- include("./partials/_head") %>
      <link rel="stylesheet" href="/styles/restaurant.css" type="text/css" />
      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/set-time.js"></script>
</head>

<body>
  <main>
    <%- include('partials/_header') %>
      <div class="orders-body-container">
        <section class="order-status-buttons">
          <form action="/restaurants/new" method="get">
            <button class="new"> New Orders</button>
          </form>
          <form action="/restaurants/previous" method="get">
            <button class="previous">History</button>
          </form>
        </section>
        <article class="customer-orders">
          <div class="order-boxes">
            <%if(result){ %>
              <% for(let key in result) {%>
                <div class="single-order-desc">
                  <div class="orders">
                    <h3 >Order Number: <%=` ${result[key].id}` %>
                    </h3>

                    <p class="b-desc">Time: <%=result[key].created_at%>
                    </p>
                    <%if(result[key].picked_at){ %>
                      <p class="b-desc">Delivered: <%=result[key].picked_at%>
                      </p>
                      <% }%>
                        <p class="b-desc">Phone: <%=result[key].phone%>
                        </p>

                        <p class="b-desc">Name: <%=result[key].customer_name %>
                        </p>
                        <p class="b-desc">Total items: <%=` ${result[key].quantity}`%>
                        </p>
                        <div class="items-desc">
                          <hr>
                          <%for(let value of result[key].items){ %>
                            <p class="b-desc">
                              <%=value.quantity %>&#215; <%=value.item_name %><span class="left-place">$<%=(value.price
                                      * value.quantity / 100).toFixed(2)%></span>
                            </p>
                            <%} %>
                            <hr>
                        </div>
                  </div>

                  <span class="order-total">
                    <span></span>
                    <p class="b-desc" class="very-last-item">Sub-Total : $<%=result[key].order_total.toFixed(2) %>&nbsp;&nbsp;</p>
                  </span>
                  <% if(result[key].status==="Pending" ) {%>
                    <div class="abc">
                      <p class="set-time">
                        <form class="button-set-order-time" action="/restaurants/new/accepted" method="post">
                          <span class="a">Set Time:</span>
                          <input type="text" class="order-id" name="order_id" value="<%=result[key].id %>">
                          <button type="button" class="btn dec">-</button>
                          <input type="text" class="qty-box" name="qty" value=2>

                          <button type="button" class="btn inc">+</button>
                          <input type="text" class="order-id" name="phone" value="<%=result[key].phone %>">
                          <button type="submit" class="button-set-order-time"> Accept </button>
                        </form>
                      </p>
                    </div>
                    <%} else %>
                      <% if(result[key].status===`Ready in ${result[key].set_time} minutes` ) {%>
                        <form class="preparing" action="/restaurants/new/ready" method="post">
                          <input type="text" class="order-id" name="order_id" value="<%=result[key].id %>">
                          <input type="text" class="order-id" name="phone" value="<%=result[key].phone %>">
                          <button type="submit" class="customer-order-status">
                            <%=result[key].status%>
                          </button>
                        </form>
                        <%} else %>
                          <% if(result[key].status==="Ready to pick up" ) {%>
                            <form class="waiting-to-pick-up" action="/restaurants/new/delivered" method="post">
                              <input type="text" class="order-id" name="order_id" value="<%=result[key].id %>">
                              <input type="text" class="order-id" name="phone" value="<%=result[key].phone %>">
                              <button type="submit" class="customer-order-status">Delivered</button>
                            </form>
                            <%} else %>
                              <% if(result[key].status==="Delivered" ) {%>
                                <div class="btn-status">
                                  <button class="customer-order-status">
                                    <%=result[key].status %>
                                  </button>
                                </div>
                                <%} %>
                </div>
                <%}%>
                  <%} %>
          </div>
        </article>
      </div>
  </main>
  </body>

</html>
